# Dependencies
node_modules/

# Local env / secrets
*.env
!.env.example

# Local databases
*.sqlite

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build artifacts
dist/
build/
coverage/

# OS / editor
.DS_Store
.vscode/
.idea/

# Documentation
docs/

# Mockups / Scratch files
stitch_medisync_patient_app_mobile/